:root {
	background-color: var(--back-color);
	color: var(--color);
}

body, html {
	/* width: 100%; */
	max-width: 100%;
	cursor:auto;
	/* position: absolute; */
}


.headC {
	width: 96%;
	background: var(--back-color);
	display: flex;
	/* justify-content: space-between; */
	/* padding: 10px; */
	/* position: fixed; */
}

.top {
	display: flex;
	/* position: fixed; */
}

.socialA {
	/* margin: auto; */
	display:grid;
	padding: 15px;
	width: 28%;
	min-width: 110px;
	height: 200px;
	min-height: 130px;
	max-height: 160px;
	border: 3px solid black;
	border-radius: 6px;
	background: rgb(209, 209, 209);
}

.socialB {
	padding: 2px;
	display: inline-block;
	position: fixed;
	bottom: 2px;
	right: -4%;
	width: 40%;
	align-items: center;
}

.socialB img {
	min-width: 120px;
	width: 160px;
	margin: auto;
	/* min-height: 50px; */
}

.ava {
	width: 300px;
	border-radius: 28px;
}

.ava:hover {
	width: 298px;
	/* border: 4px solid crimson; */
	border: 2px ;
	border-style:groove ;
	border-color: crimson;
}

.skills {
	padding: 14px;
	list-style: none;
	position:relative;
}

.skills td:hover>t {
	color: blueviolet;
}

.skill-img {
	padding: 25px;
	width: 80%;
	/* background-color: black; */
}

#itsME{
	padding: 14px;
	list-style: none;
	position:relative;
}

#itsME t {
	color: var(--color);
}

#itsME td:hover {
	color: rgb(43, 195, 226);
}

.exp{
	padding: 14px;
	width: 90%;
}

.exp td:hover{
	color:crimson;
}

.exp td:hover>#xamarin {
	color: rgb(43, 181, 255);
}

.exp td:hover>#winform {
	color: rgb(12, 235, 45);
}

.summary{
	font-size: 26px;
	padding: 15px;
}

/* #xamarin:hover {
	color: rgb(43, 181, 255);
	margin: 0;
	-webkit-text-stroke: 2px rgb(58, 8, 128);
}

#winform:hover {
	color: rgb(12, 235, 45);
	margin: 0;
	-webkit-text-stroke: 2px rgb(12, 235, 45);
} */

td {
	text-align: center;
}

#SoundButton {
	border: none;
	background-color: transparent;
	/* padding-bottom: 30px; */

}

#SoundIcon {
	height: 25px;
	width: 20px;
}

#SoundEl {
	display: none;
}

#ThemeButton {
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: none;
	position: absolute;
  	left: 94%;
	top: 12px;
}

#ThemeIcon {
	height: 45px;
}


