::selection {
	color: rgba(255, 255, 255);
	background: rgb(13, 196, 209);
	font-style:initial;
	border-radius: 6px;
}

html {
	cursor:auto;
}

div {
	margin: auto;
	/* width: 50%; */
	/* padding: 40px; */
	/* justify-content: center; */
}

.socialA {
	/* margin: auto; */
	display:grid;
	padding: 15px;
	width: 28%;
	min-width: 110px;
	height: 200px;
	min-height: 130px;
	max-height: 160px;
	border: 3px solid black;
	border-radius: 6px;
	background: rgb(209, 209, 209);
}

.socialB img {
	min-width: 50px;
	width: 200px;
	min-height: 50px;
}

.ava {
	width: 300px;
	border-radius: 28px;
}

.ava:hover {
	width: 298px;
	/* border: 4px solid crimson; */
	border: 2px ;
	border-style:groove ;
	border-color: crimson;
}

.skills {
	padding: 14px;
	list-style: none;
	position:relative;
}

.skills td:hover {
	color: blueviolet;
}

.skill-img {
	padding: 25px;
	width: 80%;
	/* background-color: black; */
}

#itsME{
	padding: 14px;
	list-style: none;
	position:relative;
}

#itsME td:hover {
	color: rgb(43, 195, 226);
}

#itsME t {
	color: black;
}

.exp{
	padding: 14px;
	width: 100%;
}

.exp td:hover{
	color:crimson;
}

.exp td:hover>#xamarin {
	color: rgb(43, 181, 255);
}

.exp td:hover>#winform {
	color: rgb(12, 235, 45);
}

.summary{
	font-size: 26px;
	padding: 15px;
}

/* #xamarin:hover {
	color: rgb(43, 181, 255);
	margin: 0;
	-webkit-text-stroke: 2px rgb(58, 8, 128);
}

#winform:hover {
	color: rgb(12, 235, 45);
	margin: 0;
	-webkit-text-stroke: 2px rgb(12, 235, 45);
} */

td {
	text-align: center;
}

#SoundButton {
	border: none;
	background-color: white;
}

#SoundIcon {
	height: 50px;
	width: 50px;
}
