@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: white;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.inf p {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /* position: absolute;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center */
}
.style01-2 p {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}
.style02 p { 
    position: absolute;
    top: 62%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}
.styleD p {
    position: absolute;
    top: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}