
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{ 
    background: white;
}
 
.st01{
    position: absolute;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.st02 p{
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}
.st03{ 
    position: absolute;
    top: 26%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}
.st04{
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center
}